*{
  background-color: #212121;
  color: white;
}

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;

  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 10px;
    width: 100px;

    @media (hover: hover) {
      &:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 1rem;
  }

  @media (max-width: 360px) {
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

// Links

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

// Common

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: normal;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

// Form

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}
